@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Estilos del scrollbar para Firefox */
* {
  scrollbar-width: thin;
  /* Hacer el scrollbar delgado */
  scrollbar-color: #747474 transparent;
  /* Color del thumb y del fondo */
}

/* Efecto hover para Firefox */
*::-moz-scrollbar-thumb:hover {
  background-color: #aaa;
}